.emoji {
    font-family: "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji", sans-serif;
    font-size: inherit;
    color: inherit;
}

.report-container {
    width: 100%;
    display: flex;
    overflow: auto;
    min-height: 100vh;
    align-items: flex-start;
    flex-direction: column;
    justify-content: flex-start;
    background-color: #f1f1f1;
}

::-webkit-scrollbar {
    width: 12px;
    height: 12px;
}

::-webkit-scrollbar-track {
    background: #f1f1f1;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    background-color: #d9534f;
    border-radius: 10px;
    border: 3px solid #f1f1f1;
}

::-webkit-scrollbar-thumb:hover {
    background-color: #b7423b;
}

.report-filename-bar {
    width: 100%;
    padding: 10px;
    background-color: #007bff;
    color: #fff;
    text-align: center;
    font-weight: 700;
}

.report-filename-text {
    font-size: 1.5rem;
}

.report-container1 {
    flex: 1;
    width: 10%;
    height: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    background-color: var(--dl-color-gray-white);
}

.report-sidebar {
    flex: 1;
    width: 10%;
    height: 100%;
    display: flex;
    padding: var(--dl-space-space-twounits);
    flex-direction: column;
    background-color: #fff;
    align-items: center;
}

.report-nav {
    width: 100%;
    height: 100%;
    display: flex;
    align-self: center;
    align-items: center;
    flex-direction: column;
}

.report-link {
    font-size: clamp(1rem, 2.5vw, 3rem);
    font-weight: 700;
    margin-bottom: var(--dl-space-space-fiveunits);
    text-decoration: none;
    text-align: center;
}

.report-navlink {
    display: block;
    width: 100%;
    text-align: center;
}

.report-image {
    width: clamp(3rem, 10vw, 90%);
    height: clamp(3rem, 10vw, 100%);
    object-fit: cover;
    margin-left: 0.5em;
    margin-bottom: var(--dl-space-space-fourunits);
}

.report-navlink1 {
    display: block;
    width: 100%;
    text-align: center;
}

.report-image1 {
    width: clamp(1rem, 10vw, 90%);
    height: clamp(1rem, 10vw, 100%);
    object-fit: cover;
    margin-left: 0.5em;
    margin-bottom: var(--dl-space-space-twounits);
}

.report-navlink2 {
    display: block;
    width: 100%;
    text-align: center;
}

.report-image2 {
    width: clamp(1rem, 10vw, 90%);
    height: clamp(1rem, 10vw, 100%);
    object-fit: cover;
    margin-left: 0.5em;
    margin-bottom: var(--dl-space-space-twounits);
}

.report-container2 {
    flex: 0 0 auto;
    right: 2px;
    width: 90%;
    bottom: 2px;
    height: 50%;
    display: flex;
    position: absolute;
    align-items: center;
    justify-content: flex-start;
}

.report-feature-card {
    width: 30%;
    height: 80%;
    display: flex;
    flex-direction: column;
    padding: var(--dl-space-space-unit);
    max-width: var(--dl-size-size-maxwidth);
    align-self: center;
    box-shadow: 5px 5px 10px 0 #1212121a;
    transition: .3s;
    align-items: flex-start;
    margin-left: var(--dl-space-space-fourunits);
    border-radius: var(--dl-radius-radius-radius8);
    background-color: #fff;
    border-top-right-radius: var(--dl-radius-radius-radius8);
}

.report-feature-card:hover {
    transform: scale(1.02);
}

.report-text {
    margin-bottom: 1%;
    font-size: 1.5vw;
}

.report-text03 {
    width: 90%;
    height: 45%;
    font-size: 3vw;
    align-self: center;
    text-align: center;
    padding-top: 12%;
    margin-bottom: 5%;
}

.report-text04 {
    width: 90%;
    height: 45%;
    align-self: center;
    text-align: left;
}

.report-feature-card1 {
    width: 30%;
    height: 80%;
    display: flex;
    flex-direction: column;
    padding: var(--dl-space-space-unit);
    max-width: var(--dl-size-size-maxwidth);
    align-self: center;
    box-shadow: 5px 5px 10px 0 #1212121a;
    transition: .3s;
    align-items: flex-start;
    margin-left: var(--dl-space-space-threeunits);
    border-radius: var(--dl-radius-radius-radius8);
    background-color: #fff;
    border-top-right-radius: var(--dl-radius-radius-radius8);
}

.report-feature-card1:hover {
    transform: scale(1.02);
}

.report-text05 {
    margin-bottom: 1%;
    font-size: 1.5vw;
}

.report-text08 {
    width: 90%;
    height: 45%;
    font-size: 3vw;
    align-self: center;
    text-align: center;
    padding-top: 12%;
    margin-bottom: 5%;
}

.report-text09 {
    width: 90%;
    height: 45%;
    align-self: center;
    text-align: left;
}

.report-feature-card2 {
    width: 30%;
    height: 80%;
    display: flex;
    flex-direction: column;
    padding: var(--dl-space-space-unit);
    max-width: var(--dl-size-size-maxwidth);
    align-self: center;
    box-shadow: 5px 5px 10px 0 #1212121a;
    transition: .3s;
    align-items: flex-start;
    margin-left: var(--dl-space-space-threeunits);
    margin-right: var(--dl-space-space-threeunits);
    border-radius: var(--dl-radius-radius-radius8);
    background-color: #fff;
    border-top-right-radius: var(--dl-radius-radius-radius8);
}

.report-feature-card2:hover {
    transform: scale(1.02);
}

.report-text10 {
    margin-bottom: 1%;
    font-size: 1.5vw;
}

.report-text13 {
    width: 90%;
    height: 45%;
    font-size: 3vw;
    align-self: center;
    text-align: center;
    padding-top: 12%;
    margin-bottom: 5%;
}

.report-text14 {
    width: 90%;
    height: 45%;
    align-self: center;
    text-align: left;
}

.report-container3 {
    top: 2px;
    flex: 1;
    right: 2px;
    width: 90%;
    height: 55%;
    display: flex;
    position: absolute;
    align-self: flex-end;
    align-items: center;
}

.report-feature-card3 {
    width: 30vw;
    height: 80%;
    display: flex;
    flex-direction: column;
    padding: var(--dl-space-space-unit);
    max-width: var(--dl-size-size-maxwidth);
    align-self: center;
    box-shadow: 5px 5px 10px 0 #1212121a;
    transition: .3s;
    align-items: center;
    justify-content: center;
    margin-left: var(--dl-space-space-fourunits);
    border-radius: var(--dl-radius-radius-radius8);
    background-color: #fff;
    border-top-right-radius: var(--dl-radius-radius-radius8);
}

.report-feature-card3:hover {
    transform: scale(1.02);
}

.report-text15 {
    margin-bottom: 14px;
    font-size: 1.5vw;
}

.no-threats-detected {
    align-self: center;
    text-align: center;
    font-size: 1.5vw;
    margin-top: 10px;
    margin-bottom: 1%;
}

.report-image3 {
    width: 100%;
    height: 100%;
    align-self: center;
    object-fit: cover;
    position: relative;
}

.report-feature-card4 {
    width: 64%;
    height: 80%;
    display: flex;
    flex-direction: column;
    padding: var(--dl-space-space-unit);
    max-width: var(--dl-size-size-maxwidth);
    align-self: center;
    box-shadow: 5px 5px 10px 0 #1212121a;
    transition: .3s;
    align-items: flex-start;
    margin-left: var(--dl-space-space-threeunits);
    margin-right: var(--dl-space-space-threeunits);
    border-radius: var(--dl-radius-radius-radius8);
    background-color: #fff;
    border-top-right-radius: var(--dl-radius-radius-radius8);
}

.report-feature-card4:hover {
    transform: scale(1.02);
}

.report-text16 {
    margin-bottom: 14px;
    font-size: 1.5vw;
}

.report-text17 {
    width: 90%;
    height: auto;
    font-size: 3vw;
    align-self: center;
    text-align: center;
    padding-top: 5%;
    padding-bottom: 3%;
}

.report-text18 {
    width: 90%;
    height: 45%;
    align-self: center;
    text-align: left;
}

.report-list {
    list-style-type: none;
    padding: 0;
}

.report-list li {
    font-size: 0.9vw;
}

.dropdown {
    cursor: pointer;
    display: flex;
    align-items: center;
    font-weight: 700;
    text-align: justify;
    width: 100%;
}

.dropdown-text {
    flex: 1;
    font-size: 1.0vw;
    margin-right: 10px;
}

.arrow {
    margin-right: 10px;
    transition: transform .3s;
}

.arrow.rotate {
    transform: rotate(180deg);
}

.dropdown-content {
    display: none;
    margin-top: 2px;
    border: 1px solid #ccc;
    padding: 10px;
    background-color: #f9f9f9;
    overflow-y: auto;
    max-height: 40%;
    overflow-x: hidden;
    white-space: normal;
    width: 100%;
    font-size: 0.9vw;
}

.dropdown-content.show {
    display: block;
}

.plotly-graph-div {
    width: 28vw;
    height: 22vw;
    position: relative;
    overflow: auto;
    object-fit: scale-down;
}

.indented {
    margin-left: 20px;
    font-size: 1.2rem;
}

.no-optimization {
    text-align: center;
    font-size: 1.5vw;
    color: #d9534f;
    margin-top: 10px;
    margin-bottom: 10px;
}