/* suggestions.css */

.suggestions-container {
    display: flex;
    width: 100%;
    min-height: 100vh;
    background-color: #f1f1f1;
}

.suggestions-sidebar {
    width: 10%;
    height: 100vh; /* Ensure sidebar scales to height of the page */
    background-color: var(--dl-color-gray-white);
    padding: var(--dl-space-space-twounits);
    display: flex;
    flex-direction: column;
    align-items: center; /* Center the content */
}

.suggestions-nav {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100%;
    justify-content: flex-start; /* Align content to the top */
}

.suggestions-link {
    font-size: 42px;
    font-weight: 700;
    margin-bottom: var(--dl-space-space-fiveunits);
    text-decoration: none;
    text-align: center; /* Center the text */
}

.suggestions-navlink {
    display: block;
    width: 100%;
    text-align: center; /* Center the content */
}

.suggestions-image {
    width: 90%;
    height: auto;
    object-fit: cover;
    margin-left: 8px;
    margin-bottom: var(--dl-space-space-fourunits);
}

.suggestions-navlink1 {
    display: block;
    width: 100%;
    text-align: center; /* Center the content */
}

.suggestions-image1 {
    width: 90%;
    height: auto;
    object-fit: cover;
    margin-left: 8px;
    margin-bottom: var(--dl-space-space-twounits);
}

.suggestions-navlink2 {
    display: block;
    width: 100%;
    text-align: center; /* Center the content */
}

.suggestions-image2 {
    width: 90%;
    height: auto;
    object-fit: cover;
    margin-left: 8px;
    margin-bottom: var(--dl-space-space-twounits);
}

.content-container {
    display: flex;
    width: 90%;
}

.suggestions-content, .report-content {
    flex: 1;
    display: flex;
    flex-direction: column;
    padding: var(--dl-space-space-threeunits);
    height: 100vh; /* Ensure equal height for both content divs */
    overflow: hidden; /* Prevent resizing */
}

.suggestions-feature-card, .report-feature-card {
    width: 100%;
    flex: 1; /* Ensure equal height for both feature cards */
    display: flex;
    flex-direction: column;
    padding: var(--dl-space-space-unit);
    box-shadow: 5px 5px 10px 0px rgba(18, 18, 18, 0.1);
    transition: 0.3s;
    border-radius: var(--dl-radius-radius-radius8);
    background-color: #ffffff;
    overflow: hidden;
}

.suggestions-feature-card:hover, .report-feature-card:hover {
    transform: scale(1.02);
}

.suggestions-text, .report-text {
    margin-bottom: 14px;
}

.dropdown {
    cursor: pointer;
    display: flex;
    align-items: center;
    font-weight: bold;
    text-align: justify;
}

.dropdown-text {
    flex: 1;
}

.arrow {
    margin-right: 10px;
    transition: transform 0.3s;
}

.arrow.rotate {
    transform: rotate(180deg);
}

.dropdown-content {
    display: none;
    margin-top: 10px;
    border: 1px solid #ccc;
    padding: 10px;
    background-color: #f9f9f9;
    overflow-y: auto;
    overflow-x: hidden; /* Prevent horizontal overflow */
    white-space: nowrap; /* Prevent text wrapping */
    max-width: 100%; /* Ensure fixed width */
    max-height: 200px; /* Ensure dropdown content does not cause div resizing */
}

.dropdown-content.show {
    display: block;
}

.indented {
    margin-left: 20px;
}

.scrollable {
    overflow-y: auto; /* Enable vertical scrolling */
    overflow-x: auto; /* Enable horizontal scrolling */
}

.scrollable-report {
    max-height: 600px; /* Adjust this value as needed */
    overflow-y: auto;
}

.print-button {
    color: var(--dl-color-gray-white);
    align-self: center;
    box-shadow: rgb(212, 212, 212) 5px 5px 10px 0;
    text-align: center;
    transition: 0.3s;
    font-size: 20px;
    border-color: #d9534f;
    padding: var(--dl-space-space-unit) var(--dl-space-space-twounits);
    background-color: rgb(217, 83, 79);
    border-radius: 4px;
    cursor: pointer;
    margin: 20px 0;
}

.print-button:hover {
    transform: scale(1.02);
}
