<!DOCTYPE html>
<html lang="en"
  ><head
    ><title>Dubhe - Suggestions</title
    ><meta
      property="og:title"
      content="Dubhe - Suggestions" /><meta
      name="viewport"
      content="width=device-width, initial-scale=1.0" /><meta
      charset="utf-8" /><meta
      property="twitter:card"
      content="summary_large_image" /><style data-tag="reset-style-sheet">
      html {  line-height: 1.15;}body {  margin: 0;}* {  box-sizing: border-box;  border-width: 0;  border-style: solid;}p,li,ul,pre,div,h1,h2,h3,h4,h5,h6,figure,blockquote,figcaption {  margin: 0;  padding: 0;}button {  background-color: transparent;}button,input,optgroup,select,textarea {  font-family: inherit;  font-size: 100%;  line-height: 1.15;  margin: 0;}button,select {  text-transform: none;}button,[type="button"],[type="reset"],[type="submit"] {  -webkit-appearance: button;}button::-moz-focus-inner,[type="button"]::-moz-focus-inner,[type="reset"]::-moz-focus-inner,[type="submit"]::-moz-focus-inner {  border-style: none;  padding: 0;}button:-moz-focus,[type="button"]:-moz-focus,[type="reset"]:-moz-focus,[type="submit"]:-moz-focus {  outline: 1px dotted ButtonText;}a {  color: inherit;  text-decoration: inherit;}input {  padding: 2px 4px;}img {  display: block;}html { scroll-behavior: smooth  }</style
    ><style data-tag="default-style-sheet">
      html {
        font-family: Inter;
        font-size: 16px;
      }

      body {
        font-weight: 400;
        font-style:normal;
        text-decoration: none;
        text-transform: none;
        letter-spacing: normal;
        line-height: 1.15;
        color: var(--dl-color-gray-black);
        background-color: var(--dl-color-gray-white);

      }</style
    ><link rel="icon" href="{{ url_for('static', filename='favicon.ico') }}">
  <link
      rel="stylesheet"
      href="https://unpkg.com/animate.css@4.1.1/animate.css" /><link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&amp;display=swap"
      data-tag="font" /><link
      rel="stylesheet"
      href="https://unpkg.com/@teleporthq/teleport-custom-scripts/dist/style.css" /></head
  ><body
    ><link rel="stylesheet" href="../static/style.css" /><div
      ><link href="../static/suggestions.css" rel="stylesheet" /><div
        class="suggestions-container"
        ><div class="suggestions-container1"
          ><div class="suggestions-sidebar"
            ><nav class="suggestions-nav"
              ><a
                href="/"
                rel="noreferrer noopener"
                class="suggestions-link"
                >Dubhe</a
              ><a href="start" class="suggestions-navlink"
                ><img
                  alt="image"
                  src="../static/assets/new.svg"
                  loading="eager"
                  class="suggestions-image" /></a
              ><a href="report" class="suggestions-navlink1"
                ><img
                  alt="image"
                  src="../static/assets/suggestions.svg"
                  loading="eager"
                  class="suggestions-image1" /></a
              ><a href="suggestions" class="suggestions-navlink2"
                ><img
                  alt="image"
                  src="../static/assets/report_selected.svg"
                  loading="eager"
                  class="suggestions-image2" /></a></nav></div></div
        ><div class="suggestions-container2"
          ><div class="suggestions-container3"
            ><div class="suggestions-feature-card"
              ><h2 class="suggestions-text"
                ><span>Recommendations</span><br /></h2
              ><label class="suggestions-text3">{{ suggestions_label|safe }} <br><br> This is where we will suggest where to place a data sanitizer and where we will link to mitigations (redirecting to MITRE ATT&CK for the unmitigated threats.</label></div
            ><div class="suggestions-feature-card1"
              ><h2 class="suggestions-text4"
                ><span>Raw Analysis Report</span><br /></h2
              ><label class="suggestions-text7">This is where the raw analysis report will go, when I actually implement it. Whoops.</label></div
            ></div
          ></div
        ></div
      ></div
    >
  </body></html
>
